* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.alignItemCenter {
  justify-content: space-between;
  align-items: center;
}

.alignItemSpaceBetween {
  justify-content: space-between;
  align-items: center;
}
